@model MedicalDiagnosis_API.Models.MedicalInspection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalInspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anamnesis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anamnesis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complaints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complaints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommendations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommendations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextVisitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextVisitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeathDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeathDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.DoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conclusion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conclusion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentInspection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentInspection.MedicalInspectionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicalInspectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
