@model IEnumerable<MedicalDiagnosis_API.Models.MedicalInspection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anamnesis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complaints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommendations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextVisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeathDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conclusion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentInspection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anamnesis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complaints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommendations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextVisitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeathDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conclusion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentInspection.MedicalInspectionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicalInspectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicalInspectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicalInspectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
