@model IEnumerable<MedicalDiagnosis_API.Models.ConsultationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalInspection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalInspection.MedicalInspectionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsultationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsultationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsultationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
